                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">PRODUCTOS</h1>
                    </div>
                    <div class="container-fluid px-4">
                        <div class="table-responsive">
                            <div class="table-wrapper">
                                <div class="table-title">
                                    <div class="row">
                                        <div class="col-xs-7">
                                            <a href="#" class="btn btn-primary"><i class="material-icons">&#xE147;</i> <span>Crear nuevo producto</span></a>					
                                        </div>
                                    </div>
                                </div>
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>#ID</th>
                                            <th>Nombre</th>						
                                            <th>Descripción</th>
                                            <th>Precio</th>
                                            <th>Stock</th>
                                            <th>Thumbnail</th>
                                            <th>Acción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {{#each productos}}
                                        <tr>
                                            <td>{{this.id}}</td>
                                            <td>{{this.nombre}}</td>
                                            <td>{{this.descripcion}}</td>
                                            <td>{{this.precio}}</td>
                                            <td>{{this.stock}}</td>
                                            <td><img src="{{this.thumbnail}}" alt="Thumbnail"></td>
                                            <td>
                                                <a href="#" class="settings" title="Settings" data-toggle="tooltip"><i class="material-icons">&#xE8B8;</i></a>
                                                <a href="#" class="delete" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE5C9;</i></a>
                                            </td>
                                        </tr>
                                        {{/each}}
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>    
                    </div>
                </main>